* {
    box-sizing: border-box;

    font-family: "Palatino Linotype", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

body, html {
    margin: 0;
    padding: 0;
}

button, input, select {
    appearance: none;
}

/* Header *********************************************************************/
header {

}

h1 {
    font-size: 3rem;
    text-align: center;
}

/* Absolute *******************************************************************/
.create-book {
    position: fixed;
    bottom: 80px;
    left: 47%;

    border: 1px solid black;
    border-radius: 50%;
    padding: 40px 50px;

    background-color: #EEEEEE;

    font-size: 2rem;
    font-weight: bold;
}

.book-form-container {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(200, 200, 200, 0.7);
}

.book-form-container-close {
    position: absolute;
    top: 30px;
    right: 80px;

    margin: 0;
    border: none;
    padding: 0;


    background-color: transparent;

    color: white;
    /*font-size: 8rem;*/
    transform: scale(10);

}

.book-form {
    position: relative;
    top: 10%;

    margin: 0 auto;
    width: 40%;
    height: 80%;
    border-radius: 8px;
    padding: 80px 0;

    background-color: white;
}

.book-form-label {
    display: flex;
    justify-content: space-between;

    margin: 0 auto 10px;
    width: 75%;
}

.book-form-text {
    font-size: 1.8rem;
}

.book-form-input {
    font-size: 1.8rem;
}

.book-form-text-block {
    display: block;

    margin: 40px 0 0;
    width: 100%;

    font-size: 1.8rem;
    text-align: center;
}

.book-form-text-area {
    display: block;

    margin: 20px auto 40px;
    width: 70%;
    height: 120px;

    resize: none;
}

.book-form-submit {
    display: block;

    margin: 0 auto;
    border-radius: 4px;
    padding: 10px 40px;

    font-size: 1.5rem;
}

.book-form-submit-create {
    background-color: #DDFFAA;
}

.book-form-submit-update {
    background-color: #FFAADD;
}

/* Main ***********************************************************************/
h2 {
    font-size: 2.2rem;
    text-align: center;
}

/* Library ********************************************************************/
.library {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.library-book {
    margin: 0 auto;
}

.library-book-title {
    width: 300px;

    font-size: 1.8rem;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.library-book-author {
    font-size: 1.5rem;
    text-align: center;
}

.library-book-cover {
    display: block;

    margin: 0 auto;
    width: 200px;
    height: 266px;
}

.library-book-pages {
    font-size: 1.3rem;
    text-align: center;
}

.library-book-pages-count {
    font-size: 1.3rem;
}

.library-book-buttons {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.library-book-button {
    border-radius: 4px;
    padding: 8px 16px;

    color: white;
    font-size: 1.2rem;
}

.library-book-button:first-child {
    background-color: darkorange;
    /*background-color: lightsalmon;*/
}

.library-book-button:last-child {
    background-color: #ba1c1c;
    /*background-color: lightcoral;*/
}

/* Book Dialog ****************************************************************/

/* Footer *********************************************************************/
